
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiaju01:before { content: "\e617"; }
.icon-iconfonti2-copy-copy-copy:before { content: "\e600"; }
.icon-iconfonti2-copy-copy:before { content: "\e600"; }
.icon-weixin:before { content: "\e603"; }
.icon-shouji:before { content: "\e679"; }
.icon-fangzi:before { content: "\e670"; }
.icon-zuanshi:before { content: "\e697"; }
.icon-diaodai:before { content: "\f009b"; }
.icon-xizhuang:before { content: "\f00a9"; }
.icon-gaogenxie:before { content: "\f009a"; }
.icon-xiangshui:before { content: "\e647"; }
.icon-baobao:before { content: "\e610"; }
.icon-zuqiu:before { content: "\e608"; }
.icon-jiezhixian:before { content: "\e64c"; }
.icon-yingerche:before { content: "\e628"; }
.icon-jiajuicon:before { content: "\e638"; }
.icon-jiaju:before { content: "\e641"; }
